$whiteColor: #FFFFFF;
$blackColor: #000000;
// Серые цвета
$basicTextColor:#52555F;
$secondaryTextColor:#C7CCDC;
$balanceTextColor:rgba(82, 85, 95, 0.7);
$emailInModalColor:#A6ABB9;
$kapustaIconColor:#DFE2EB;
$grayBackgroundColor: #F5F6FB;
$inputInFormRegister:#F6F7FB;
$textInInputFieldInfoTransaction:#C7CCDC;
$grayCategoryIcon:#071F41;
// Вкладки "Расход" и "Доход" на таблице
$grayActiveTab: #FEFEFE;
$grayTab: #FAFBFD;
// Модалка для первоночального ввода баланса
$blueColorOne:#1D346A;
$blueColorTwo:#031634;
// оранжевые цвета
$orangeBasicColor: #FF751D;
$lightOrangeColor:#FFDAC0;
// другие цвета
$green-color: #407946;
$redСolorInTable: #E7192E;
$redСolorRequiredField: #EB5757;
$redСolorInReport: #E53935;