.formAuthMobile {
  box-shadow: 4px 8px 21px rgba(170, 178, 197, 0.78);
  width: 280px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 52px;
  padding: 0 20px 40px 20px;
}
.formAuthTablet {
  composes: formAuthMobile;
  box-shadow: 4px 8px 21px rgba(170, 178, 197, 0.78);
  width: 420px;
  padding-bottom: 56px;
}

.formAuthDesktop {
  composes: formAuthTablet;
  margin: 117px 91px 0 0;
}

.emailGroup {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.passGroup {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 11px;
  font-family: 'Roboto';
  font-weight: 500;
  color: rgb(0, 0, 0);
  line-height: 3;
  margin-bottom: 12px;
}
.mobInput {
  width: 240px;
  height: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  padding-left: 19px;
  padding-right: -19px;
  line-height: 2.1;
  letter-spacing: 0.04em;
  border: 2px rgb(244, 246, 251) solid;
  border-radius: 25px;
  background-color: rgb(245, 247, 250);
  font-size: 14px;
  color: rgb(166, 171, 185);
  transition: all 0.3s linear;
}

.mobInput:hover {
  box-shadow: 1px 1.732px 3px 0px rgba(170, 178, 197, 0.29);
  transition: all 0.3s linear;
}
.input {
  composes: mobInput;

  width: 258px;
  height: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  padding-left: 19px;
  padding-right: -19px;
  line-height: 2.1;
  letter-spacing: 0.04em;
  border: 2px rgb(244, 246, 251) solid;
  border-radius: 25px;
  background-color: rgb(245, 247, 250);
  font-size: 14px;
  color: rgb(166, 171, 185);
}

.input::placeholder {
  color: rgb(166, 171, 185);
}
.tooltip {
  position: absolute;
  top: 108px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  margin-top: 4px;
  letter-spacing: 0.04em;
  color: #eb5757;
}
.dotTooltip {
  position: absolute;
  top: -102px;
  left: -8px;
  color: #eb5757;
  font-size: 14px;
}

.controlBar {
  width: 259px;
  display: flex;
  justify-content: space-between;
}
.loginButton {
  width: 125px;
  height: 45px;
  border: 2px rgba(244, 246, 251, 0) solid;
  border-radius: 16px;
  background-color: rgb(252, 130, 42);
  color: rgb(255, 255, 255);
  text-align: center;
  box-shadow: 2px 2px 5px 0px rgba(255, 107, 8, 0.34);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s linear;
}
.loginButton:hover {
  border: none;
  background-color: rgb(255, 108, 10);
}

.registerButton {
  composes: loginButton;
  background-color: rgb(244, 246, 251);
  color: rgb(82, 85, 95);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.registerButton:hover {
  border: 2px rgb(244, 246, 251) solid;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s linear;
}
.loginButton:disabled,
.loginButton[disabled],
.registerButton:disabled,
.registerButton[disabled] {
  border: none;
  background-color: #f6f7fb;
  box-shadow: none;
  color: grey;
}
